@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* button{
    display: inline-block
} */

body {
    background-color: black;
}

.main {
    background-image: url(Assets/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    max-width: 74vw;
    margin: auto;
    align-items: center;
    height: 62px;
}
nav span img, nav .flex{
    margin-top: 15px;
}
nav img {
    width: 148px;
    position: relative;
    z-index: 1;
}
.flex{
    display: flex;
    align-items: center;
    gap:8px;
}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 8px;
    padding: 0px 162px;
}

.hero> :first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.separation {
    height: 6px;
    background-color: rgb(63, 63, 63);
}


.btn-lang {
    display: flex;
    align-items: center;
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    padding: 2px 15px;
    margin-right: 5px;
    border-radius: 4px;
    border: 1px solid rgba(165, 165, 165, 0.8);
    cursor: pointer;
    gap:7px;
    font-size: 16px;
}
.btn-lang> :nth-child(1){
    width: 15px;

}
.btn-lang> :nth-child(2){
    width: 8px;
    margin-left: 78px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 30px;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    /* font-weight: bold; */
}

.btn-red:hover {
    background-color: rgb(158, 4, 4);
}

.btn-red-sm {
    background-color: red;
    color: white;
    padding: 5px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

.btn-red-sm:hover {
    background-color: rgb(158, 4, 4);

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}

.main input {
    font-size: 14px;
    padding: 6px 60px 6px 15px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(165, 165, 165, 0.8);
    border-radius: 4px;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    padding: 42px 0px;
    margin: auto;
    flex-wrap: wrap;
    gap:30px;

}

.txt {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 37vw;
    gap: 10px;
}

.img_vid {
    position: relative;
}

.img_vid img {
    width: 415px;
}

.img_vid video {
    position: absolute;
    width: 302.5px;
    right: 57.5px;
    top: 64.5px;
    z-index: -1;
}

.txt> :nth-child(1) {
    font-weight: 900;
    font-size: 36px;
}

.txt> :nth-child(2) {
    font-size: 24px;
}
.phn_img{

    position: relative;
    /* text-align: center; */
}
.phn_img img{
    width: 450px;
}
.box-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 248px;
    height: 98px;
    border: 2px solid rgba(165, 165, 165, 0.8);
    background-color: red;
    color: white;
    top: 217px;
    left: 95px;
    background-color: black;
    border-radius: 12px;
    gap:2px;
}
.box-2> :nth-child(1){
    width: 60px;
    height: 80px;
}
.box-2> :nth-child(2){
    width: 130px;
    height: 62px;
}
.box-2> :nth-child(3){
    width: 31px;
    height: 32px;
}
.apple{
    position: relative;
}
.apple img{
    width: 415px;
}
.apple video{
    position: absolute;
    width: 275px;
    left: 67px;
    top: 39px;
    z-index: -1;
}
.children> :nth-child(1){
    width: 417px;
}
.faq{
    color: white;
    text-align: center;
}
.faq_txt{
    font-size: 48px;
    font-weight: 900;
    margin:27px 0px;
}
.faq_ques{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 45px 0px;
}
.ques{
    display: flex;
    background-color: #2d2d2d;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 70vw;
    padding: 2px 17px ;
    font-size: 24px;
    cursor:pointer;
    transition: all 0.3s ease-out ;
}
.ques img{
    width: 37px;
    filter: invert(1);
}
.ques:hover{
    background-color: #414141;

}
.footer{
    color:rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 70vw;
    margin: 60px 134px;
    /* text-align: center; */
    gap:25px;
    padding: 20px 0px;
}

.f_text{
    font-size: 16px;

}
.f_text a{
    color: rgba(255, 255, 255, 0.7);
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,20vw);
    gap:15px;

}
@media screen and (max-width:850px){
    .grid{
        display: grid;
    grid-template-columns: repeat(2,20vw);
    gap:15px;

    }
}
.grid_item{
    /* border: 2px solid red; */
    font-size: 14px;
    
    
}
@media screen and (max-width:500px){
    .grid_item{
        font-size: 8px;
    }
    .footer{
        color:rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 70vw;
    margin: 60px 60px;
    /* text-align: center; */
    gap:25px;
    padding: 20px 0px;
    }
}
.grid_item a{
    color: rgba(255, 255, 255, 0.7);
    
}
.n_ind{
    font-size: 14px;
}
@media screen and (max-width:750px){
        .btn-lang> :nth-child(2) {
            width: 8px;
            margin-left: 50px;
        }

}
@media screen and (max-width:600px){
    .ques{
        font-size: 16px;
        height: 55px;
    }
    .faq_txt{
        font-size: 36px;
    }
}
@media screen and (max-width:400px){
    .ques{
        font-size: 12px;
        height: 45px;
    }
    .faq_txt{
        font-size: 24px;
    }
}